version: '3.8'
name: node-postgres-odoo18
services:
    odoo:
          image: odoo:18.0
          dockerfile: Dockerfile
          depends_on:
            - db
          ports:
            - "8069:8069"
          environment:
            HOST: db
            USER: odoo
            PASSWORD: odoo
          volumes:
            - ./addons:/mnt/extra-addons
            - odoo-data:/var/lib/odoo
          command: sleep infinity
          network_mode: 'service:db'
          restart: always

    db:
          image: 'postgres:latest'
          restart: unless-stopped
          volumes:
              - 'postgres-data:/var/lib/postgresql/data'
          environment:
              POSTGRES_USER: postgres
              POSTGRES_DB: postgres
              POSTGRES_PASSWORD: postgres
volumes:
      postgres-data: null

  
